<div style="text-align: center; height:100%">
    <div class="soundboardContainer">
        <h3>Sound Like Mr.Meeseeks!</h3>
        <img src="img/MeeseeksMain.gif"/>
        <h3><small>Turn Your Volume Up!</small></h3>
        <div ng-repeat="item in sounds">
            <button type="button" class="btn btn-primary btn-lg btn-block soundboard-btn" ng-click="playSound(item.id, $event)">{{item.text}}</button>
        </div>
    </div>
</div>